body {
  margin: 0;
  overflow: hidden;

   background:
    radial-gradient(
      circle at 50% 45%,
      rgba(32, 38, 109, 0.35) 0%,
      rgba(40, 69, 199, 0.15) 25%,
      transparent 55%
    ),
    radial-gradient(
      circle at 20% 70%,
      rgba(44, 130, 255, 0.18) 0%,
      transparent 45%
    ),
    radial-gradient(
      circle at 80% 65%,
      rgba(255, 80, 180, 0.15) 0%,
      transparent 45%
    ),
    #000000;

 /* background: #000000;
background: radial-gradient(circle,rgba(0, 0, 0, 1) 85%, #ce9aaf 100%); */

/* background: #020024;
background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(20, 72, 125, 1) 88%, rgba(121, 143, 199, 1) 100%); */

/* background: #000000;
background: radial-gradient(circle, rgba(0, 0, 0, 1) 75%, #8fa4d9 100%); */

/* background: #ffffff;
background: radial-gradient(circle,rgba(255, 255, 255, 1) 80%, rgba(245, 255, 217, 1) 100%); */
}

/* body {
  margin: 0;
  overflow: hidden;

  background:
    radial-gradient(
      circle at 50% 45%,
      rgba(32, 38, 109, 0.35) 0%,
      rgba(40, 69, 199, 0.15) 25%,
      transparent 55%
    ),
    radial-gradient(
      circle at 20% 70%,
      rgba(44, 130, 255, 0.18) 0%,
      transparent 45%
    ),
    radial-gradient(
      circle at 80% 65%,
      rgba(255, 80, 180, 0.15) 0%,
      transparent 45%
    ),
    #000000;
} */
.text-overlay {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  white-space: nowrap;
}

.text-main {
  font-family: "Barrio", system-ui;
  font-size: 50px;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0.15em;
  line-height: 1.3;
  text-transform: uppercase;
}

.text-hint{
  position: fixed;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  font-family: system-ui, sans-serif;
  font-size: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #3E3A37;
  pointer-events: none;
  opacity: 0;
}